*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#1e293b;
    position:sticky;
    top:0;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:55px;
}

.hero h3{
    margin-top:10px;
    color:#38bdf8;
}

.hero p{
    margin-top:20px;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:#38bdf8;
    cursor:pointer;
    font-size:16px;
}

section{
    padding:80px 10%;
}

section h2{
    text-align:center;
    margin-bottom:40px;
    font-size:35px;
}

.card-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
}

.card{
    background:#1e293b;
    padding:30px;
    text-align:center;
    border-radius:15px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.project{
    background:#1e293b;
    margin-bottom:20px;
    padding:20px;
    border-radius:15px;
}

footer{
    text-align:center;
    padding:20px;
    background:#1e293b;
}

html{
    scroll-behavior:smooth;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    nav ul{
        margin-top:10px;
    }

    .hero h1{
        font-size:35px;
    }

}